<div class="login">
  <div class="login__container">
    <div class="login__title">Login</div>
    <form class="form" [formGroup]="form" (ngSubmit)="login()">
      <div class="form-group">
        <label for="exampleInputEmail1" class="form-label">Email:</label>
        <input formControlName="email" id="exampleInputEmail1" type="email" class="form-control"
               placeholder="Enter your email..." name="email"
        >
        <div
          *ngIf="form.get('email')?.touched && form.get('email')?.invalid"
          class="validation">
          <small *ngIf="form.get('email')?.hasError('required')">Field cannot be empty</small>
          <small *ngIf="form.get('email')?.hasError('email')">Enter a correct email</small>
        </div>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1" class="form-label">Password:</label>
        <input formControlName="password" id="exampleInputPassword1" type="password" class="form-control"
               placeholder="Enter your password..."
               name="password">
        <div
          *ngIf="form.get('password')?.touched && form.get('password')?.invalid"
          class="validation">
          <small *ngIf="form.get('password')?.hasError('required')">Field cannot be empty</small>
          <small *ngIf="form.get('password')?.hasError('minlength')">
            The password must contain at least
            {{ form.get('password')?.errors?.['minlength']?.['requiredLength'] }}
            characters.
            Now {{ form.get('password')?.errors?.['minlength']?.['actualLength'] }}
          </small>
        </div>
      </div>
      <button [disabled]="form.invalid || submitted" type="submit" class="btn">Login</button>
    </form>
  </div>
</div>
