<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async)">
    <div class="menu">
      <div class="menu-wrap">
        <div class="menu-title">Menu</div>
        <ul class="menu-list">
          <li class="menu-item"><a [routerLink]="['settings']" routerLinkActive="active" class="menu-link"><img
            src="/assets/images/project-img.svg" alt="image-project"> Setting</a></li>
        </ul>
      </div>
      <div class="menu-wrap">
        <div class="menu-title">Projects</div>
        <ng-container *ngIf="projects$ | async  as projects; else loading">
          <ul class="menu-list">
            <li class="menu-item" *ngFor="let project of projects">
              <a [routerLink]="['board', project.key]" routerLinkActive="active" class="menu-link">
                <img src="/assets/images/project-img.svg" alt="image-project">{{project.value.title}} </a>
            </li>

          </ul>
        </ng-container>
      </div>
    </div>



  </mat-sidenav>
  <mat-sidenav-content>

    <div class="top-bar">

      <div class="top-bar__container">
        <div class="top-bar__left">
          <button class="top-bar__btn" (click)="drawer.toggle(); toggleOpen()"><img src="/assets/images/burger-btn.svg"
                                                                                    alt="burger"></button>
          <div class="top-bar__logo"><img src="/assets/images/worker.svg" alt="worker">WORKER</div>
        </div>

        <div *ngIf="name" class="top-bar__user">
          <div  class="top-bar__user-name">{{name}}</div>
          <div class="top-bar__user-img"><img src="/assets/images/user-test.svg" alt="test"></div>
        </div>
        <div  *ngIf="!name" class="top-bar__user">
          <div [routerLink]="['auth']"  class="top-bar__user-name">Login</div>
        </div>
      </div>
    </div>

    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>


<ng-template #loading>
  Loading...
</ng-template>
