@import 'assets/scss/fonts';
@import 'assets/scss/nullstyle';
@import "assets/scss/quill";


body {
  margin: 0;
  font-family: Segoe UI, sans-serif;
}

html, body {
  height: 100%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
