@import 'assets/scss/fonts';
@import 'assets/scss/nullstyle';
@import "assets/scss/quill";


body {
  margin: 0;
  font-family: Segoe UI, sans-serif;
  background: #1E1F21;
  color: #F5F4F3;
}

html, body {
  height: 100%;
}

.cdk-global-overlay-wrapper{
  overflow-y: scroll !important;
  padding: 30px 0 !important;
}
